.header{
  background-color: #061021;
  height: 50px;
 line-height: 50px;

}

.nav{
  padding-right: 100px;
  color: #fff;
  padding-left: 20px;
  padding-bottom: 25px;
}

 .nav a:link {
  padding-right: 15px;
  float: right;
  line-height: 50px;
  text-decoration: none;
  color: #FFF4F0;
}

.nav a:hover {
  color: #5A78B0;
}


#nav-title {
  float:left;
  font-size: 24px;
  margin-left: 10px;
}

body, select, input, textarea {  
    color: #444;  
    font-family: josefin-sans, sans-serif;
    background-color: #EBCEBA;
}  

label {
  text-align: right;
}

.signup_container {
  background-color: #FFF4F0;
  width:400px;
  border: 3px #061021 solid;
  border-radius:5px;
  margin: 20px auto;
  padding-left: 75px;
  padding-top: 20px;
  padding-bottom: 70px;
}

.signup_container input {
  float: right;
  margin-left: 10px;
  background-color: #ede4e1;
}

.create_user {
  width: 80%;
}

.login {
  margin-top: 40px;
  width: 80%;
}

.create_row1 {
  margin-bottom:20px;
}

.create_row2 {
  margin-bottom:20px;
}

.create_row3 {
  margin-bottom:20px;
}

.create_row4 {
  margin-bottom:20px;
}

.create_user input {
  float: right;
  margin-left: 10px;

}


li {
  font-size: 12px;
}

img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 15px;
}


h1, h2 {
  font-family: josefin-sans, sans-serif;
}

h3 {
  font-family: josefin-sans, sans-serif;
}


.intro_container{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.intro_container h3 {
  text-align: center;
}

.intro_container a{
  color: white;
  text-decoration: none;
}

.border {
  margin-top: 5px;
  margin-bottom: 20px;
  border-top: 1px dotted gray;
  display: block;
}


.button {
  float: left;
  background-color: #53777A;
  margin: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 12px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 12px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 12px rgba(50, 50, 50, 0.75);
}

.button:hover {
  background-color: #3C3251;
}


#log_in {
  float: right;
  background-color: #061021;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-bottom: 25px;
}

#log_in:hover {
  background-color: #B82D22;
}

label {
  margin-right: 5px;
}

#create {
  float: right;
  background-color: #061021;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

#create:hover {
  background-color: #B82D22;
}


