* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

a:-webkit-any-link {
    text-decoration: none;
    color: #B82D22;
}

a:hover {
    color: #061021;
}

html, body, ul, ol, li, form,
fieldset, legend {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

fieldset, img {
    border: 0;
}

input, textarea, select, button {
    font-family: josefin-sans, sans-serif;
    font-size: 110%;
    line-height: 1.1;
}

button {
    width: auto;
    overflow: visible;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


li {
    list-style: none;
}

header {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 20%;
    color: #FFF4F0;
    font-size: 60px;
    font-family: sofia, fantasy;
    margin-left: 20px;
}

header a:link {
    text-decoration: none
    color: #B82D22;
}

header a:hover {
    color: #061021;
}

.album_thumb {
  float:left;
  text-align: center;
  width: 200px;
}
.album_thumb img {
  vertical-align: middle;
  width:100px;
}

.album_title {
  clear: left;
  margin-left: 15px;
  font-size: 18px; 
  font-family: sofia, fantasy;
  color: #5A78B0;
  text-align: center;
  margin-bottom: 50px;
}

.username {
/*  float: right;*/
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  text-transform:uppercase;
  letter-spacing: -0.5px;
  font-family: josefin-sans, sans-serif;
    color: #061021;
    margin-bottom: 10px;
}
    
.photo {
  text-align: center;
  width: 500px;
  margin-bottom: 25px;
}

.photo img {
  width:400px;
}

/*.caption {
  font-size: 14px;
  text-align: center;
}*/

/* Album page */

.album_container {
  float: right;
  width: 80%;
  margin: 20px auto;
}

.album_container .album_title {
  float: left;
  margin-left: 10px;
  font-size: 24px; 
  font-family: sofia, fantasy;
  color: #5A78B0;
  text-align: center;
  margin-bottom: 20px;
}

.album_container .username {
  margin-left: 20px;
}

/*.album_container .photo {
  clear: all;
}*/

.album_container .caption {
  margin-top: 5px;
  clear: both;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.create_container {
  float: right;
  width: 80%;
  margin: 20px auto;
  font-size: 20px;
  line-height: 28px;
}

.create_container input {
  margin-bottom: 20px;
  margin-left: 10px;
}

.create_container input[type="text"] {
  margin-bottom: 20px;
  margin-left: 10px;
  width: 300px;
}

/*.create_container input[type="file"] {
  margin-bottom: 20px;
  margin-left: 10px;
  width: 300px;
  border: none;
}*/

#file_button { 
  position: relative; 
  height: 80px; 
  /*overflow: hidden;*/
  /*background-image: url(../photos/folder_img_upload.png);*/
  } 

  #file_button img{ 
    width: 60px; 
    /*background-image: url(../photos/folder_img_upload.png);*/
    } 

  #file_button input { 
    position: absolute; 
    top: 0;
    left: 0;
    width: 60px;
    font-size: 36px; 
    opacity: 0; 
    margin: 0; 
    padding: 0; 
    border: none; 
  }

.create_container label {
  margin-right: 20px;
}

.result-image.example { display: none;}
.result-image {
  float: left;
  width: 308px;
  height: 350px;
  margin-right: 10px;
}

.user_container {
  width: 60%;
  margin: 20px auto;
}

.user_container img{
  width: 80%;
}

.created_albums {
  width: 500px;
}

.date {
  text-align: center;
  margin-bottom: 30px;
}

.second_line_faves{
  margin-bottom: 10px;
  text-align: center;
}

input[type=submit] {
  background-color: #B82D22;
  margin-left: 10px;
  color: #FFF4F0;
  border: 0;
  letter-spacing: 2px;
  vertical-align: middle;
}

input[type=submit]:hover {
  background-color: #5A78B0;
}

.hearts {
  border-top: 0;
  font-size: 12px;
  text-align: center;
}

.my_album_title {
  clear: left;
  margin-left: 15px;
  font-size: 18px; 
  font-family: sofia, fantasy;
  color: #5A78B0;
  text-align: center;
  margin-bottom: 5px;
}

/*  COLORS  

--- Navy Sunrise ---

Navy #061021
Powder Blue #5A78B0
Off White #FFF4F0
Beige #EBCEBA
Reddish #B82D22
*/
