<div class="album_container">
<!--   <h3>Choose a Deck</h3> -->

<div class="album_title"><%= @album.album_name %><span class="username">  <%= @album.user.username %></div>
<% @album.photos.each do |photo| %>
<div class="photo"><img src="<%=photo.path || photo.file%>">
<div class="caption"><%= photo.title %></div>
</div>
<% end %>
<br class = "clearFloat">
</div>

