<div class="intro_container">
<!--   <h3>Choose a Deck</h3> -->

<span class="album_title"><%= @album.album_name %></span> <span class="username"><%= @album.user.username %></span>
<% @album.photos.each do |photo| %>
<div class="photo"><img src="<%=photo.path || photo.file%>">
<div class="caption"><%= photo.title %></div>
</div>
<% end %>
<br class = "clearFloat">
</div>

