<form action="/create_album" method="post" enctype="multipart/form-data">
  <label>Album name:<input type="text" name="album[album_name]"></label> <br>
  <input type="file" name="photo[file]"> <br>
   <label>Photo caption:<input type="text" name="photo[title]"></label> <br>
  <input type="submit" name="submit" value="Upload">
</form>

