<div class="intro_container">
<h1>Instagram Feed</h1>

<form action="/images" method="post" id="myForm">
  <input type="text" name="username" placeholder="username" autofocus></input>
  <input type="submit" value="go"></input>
</form>


<div class="results">
</div>
<div class="result-image example">
  <!-- <img src="http://malaprop.org/mosaic.gif"> -->
  <span class="caption">example caption</span>
</div>
</div>
